.previous {
  width: 100%;
  background-color: rgb(76, 166, 169);
}

.previous__list {
  list-style-type: none;
  display: flex;
}

.previous__guess {
  margin: 0 10px;
  background-color: rgb(40, 79, 144);
  padding: 10px;
  border: rgb(40, 79, 144);
  border-radius: 3px;
}